<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959915180133-i5mu8cc3b280q4h5b6tls24486kbfn4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959915180133-i5mu8cc3b280q4h5b6tls24486kbfn4p</string>
	<key>API_KEY</key>
	<string>AIzaSyD42-EPEQzWNHg0D42eh9IvltxK1F0nx_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>959915180133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-samplecode.JWHousePrototype</string>
	<key>PROJECT_ID</key>
	<string>jw-house-test-ac2ff</string>
	<key>STORAGE_BUCKET</key>
	<string>jw-house-test-ac2ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959915180133:ios:41e8c84c9845b5fad5068c</string>
</dict>
</plist>